/** {
    margin: 0;
    padding: 0;
}*/

body {
    background-color: #000;
    font-family: 'Josefin Slab', serif;
    color: #fff;
}

/* memory game */

#heading h1{
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive, sans-serif;
    color: #e3a000;
}

#board {
    margin-top: 20px;
    border: solid 2px #fff;
    background-color: #000;
    border-radius: 0.25rem;
    }

.card {
    height: 50px;
    width: 50px;
    margin: 7px;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card_front,
.card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.card_front {
    transform: rotateY(180deg);
}

/* sorting hat */

#typeWBtn {
    background-color: #2d004d;
    color: #fff;
    border-radius: 0.25rem;
}

/* quotes generator */

#quote-center {
  border-radius: 4px;
  position:relative;
  margin:50px auto auto auto;
  width:450px;
  padding:40px 50px;
}

#quote {
  color: #fff;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}

btn:focus {
  outline:transparent;
}

.quoteBtn {
  top: 20px;
  color: #fff;
  border: none;
  opacity: 1;
}

.quoteBtn:hover {
	opacity: .5;
  	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


/* media queries */

@media (min-width: 768px) {
.card {
    height: 110px;
    width: 110px;
}

.my-game {
    width: 550px;
    height: 550px;
}

.navbar-brand img{
    width: 75px;
    height: 75px;
}
}