body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Josefin Slab', serif;
    color: #fff;
}

/* memory game */

#heading h1{
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive, sans-serif;
    color: #e3a000;
}

.start {
    background-color: #00165e;
}

.timer {
    background-color: #9c1203;
}

.rules {
    background-color: #033807;
}

#startBtn {
    background-color: #00165e;
    color: #fff;
    border: none;
}

/* modal */

#myBtn {
    background-color: #033807;
    float: center;
    color: #fff;
    border: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #2d004d;
  font-size: 1.5rem;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #fff;
  width: 75%; 
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #9c1203;
  text-decoration: none;
  cursor: pointer;
}

#board {
    max-width: 85%;
    margin-top: 20px;
    border: solid 2px #fff;
    background-color: #000;
    border-radius: 0.25rem;
    }

.card {
    height: 50px;
    width: 50px;
    margin: 7px;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card_front,
.card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.card_front {
    transform: rotateY(180deg);
}

/* sorting hat */

#typeWBtn {
    background-color: #2d004d;
    color: #fff;
    border-radius: 0.25rem;
}

/* quotes generator */

#quote-center {
  border-radius: 4px;
  position:relative;
  margin:50px auto auto auto;
  width:450px;
  padding:40px 50px;
}

#quoteDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  color: #000;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
}

.quotesBox {
background-color: green;
margin: 50px;
border-radius: 0.25rem;
}


btn:focus {
  outline:transparent;
}

.quoteBtn {
  top: 20px;
  color: #fff;
  border: none;
  opacity: 1;
}

.quoteBtn:hover {
	opacity: .5;
  	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


/* media queries */

@media (min-width: 768px) {
.card {
    height: 110px;
    width: 110px;
}

.my-game {
    width: 550px;
    height: 550px;
}

.navbar-brand img{
    width: 75px;
    height: 75px;
}

#board {
    max-width: 50%;
}
}

@media only screen { 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
#board {
    max-width: 70%;
}
}


/* quiz */

*, *::before, *::after {
    box-sizing: border-box;
}

.quiz-wrapper {
    display: flex;
    background-color: red;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    width: 100vw;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

.quiz-btn {
    background-color: #00165e;
    color: #fff;
}

.quiz-container {
    width: 800px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.quiz-btn {
    margin: 20px 0;
    border-radius: 5px;
}

.quiz-question {
    color: #000;
}

.quiz-start-btn, .quiz-next-btn {
background-color: #e3a000;
font-weight: bold;
padding: 5px 10px;
margin: 5px;
}

.quiz-controls {
display: flex;
justify-content: center;
align-items: center;
margin: 5px 10px;
}

.hide {
display: none;
}